services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000

  db:
    image: mysql:8.0
    container_name: user_management_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_management
      MYSQL_USER: user
      MYSQL_PASSWORD: root
    ports:
      - 3306:3306
    volumes:
      - db-data:/var/lib/mysql

  caching:
    image: redis:alpine
    container_name: user_management_caching
    restart: always
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

networks:
  default:
    driver: bridge

volumes:
  db-data:
    driver: local
